{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": 0,
    "no-shadow": 0,
    "no-use-before-define": 0
  }
}
